<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://jimmyxau-001-site1.smarterasp.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://jimmyxau-001-site1.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>jimmyxau-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>ifc\jimmyxau-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="a_university" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9B21DD_AUniversity;Persist Security Info=True;User ID=DB_9B21DD_AUniversity_admin;Password=123456789" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=SQLOLEDB;Data Source=SQL5004.Smarterasp.net,1433;Initial Catalog=DB_9B21DD_AUniversity;User Id=DB_9B21DD_AUniversity_admin;Password=123456789;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\a_university_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=SQLOLEDB;Data Source=SQL5004.Smarterasp.net,1433;Initial Catalog=DB_9B21DD_AUniversity;User Id=DB_9B21DD_AUniversity_admin;Password=123456789;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="b_university" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9B21DD_BUniversity;User ID=DB_9B21DD_BUniversity_admin;Password=12345678" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=SQLOLEDB;Data Source=SQL5004.Smarterasp.net,1433;Initial Catalog=DB_9B21DD_BUniversity;User Id=DB_9B21DD_BUniversity_admin;Password=12345678;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\b_university_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=SQLOLEDB;Data Source=SQL5004.Smarterasp.net,1433;Initial Catalog=DB_9B21DD_BUniversity;User Id=DB_9B21DD_BUniversity_admin;Password=12345678;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)a_university-Web.config Connection String">
      <ParameterValue>Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9B21DD_AUniversity;Persist Security Info=True;User ID=DB_9B21DD_AUniversity_admin;Password=123456789</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)b_university-Web.config Connection String">
      <ParameterValue>Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9B21DD_BUniversity;User ID=DB_9B21DD_BUniversity_admin;Password=12345678</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>